<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar</title>
</head>
<body>
<h1>Cadastrar</h1>
<div th:if="${param.error}">
    Dados inválidos
</div>
<form th:action="@{/cadastrar}" method="post">
    <input type="hidden" name="enable" value={true}>
    <div>
        <label>Usuário: <input type="text" name="username" ></label>
    </div>
    <div>
        <label>Nome: <input type="text" name="name" ></label>
    </div>
    <div>
        <label>Sobrenome: <input type="text" name="last_name" ></label>
    </div>
    <div>
        <label>E-mail: <input type="email" name="email" ></label>
    </div>
    <div>
        <label>Senha: <input type="password" name="password" ></label>
    </div>
    <div>
        <input type="submit" value="Cadastrar">
    </div>
</form>
</body>
</html>